- content_for :title do
  =h @client.name
  &raquo; Billing Details

- content_for :js do
  = javascript_include_tag 'invoices', 'auto_resize_textareas', 'edit_in_place'

- content_for :css do
  = stylesheet_link_tag 'invoices'

- content_for :actions do
  = link_to 'Create Invoice', new_invoice_path(@client), :id => 'create_invoice', :class=>"button left"
  = link_to 'Merge', merge_works_path(@client), :id => 'merge', :class=>"button left"
  .clear
    
= render @invoices
