!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= "bot &amp; rose invoice \##{@invoice.id}"
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    = stylesheet_link_tag 'invoice'
    = yield :stylesheet_links

    %link{:rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon"}


  %body
    #container
      #content
      
        #return
          #logo= link_to image_tag("/images/invoice/logo.gif", :size => "146x53"), "http://botandrose.com"
          %p 625 nw Everett st., no.346
          %p Portland, Oregon 97209
          %p info@botandrose.com
        .clear
        
        #client
          %h1 INVOICE
          %p attention:
          %h2= h @invoice.client.contact
          %p= h @invoice.client.address
        .clear
        
        #date
          %h3= "#{@invoice.date.day}  #{Date::MONTHNAMES[@invoice.date.month]}  #{@invoice.date.year}"
        .clear
        
        #project
          #project_header
            %table{:cellspacing => '0', :cellpadding => '0', :width => '100%'}
              %col{:width => '49%'}
              %col{:width => '2%'}
              %col{:width => '49%'}
              %tr
                %td PROJECT
                %td .
                %td.right_align= h @invoice.project_name
              %tr
                %td INVOICE NUMBER
                %td .
                %td.right_align= @invoice.id
              %tr
                %td TERMS
                %td .
                %td.right_align Due on Receipt
                
          #items
            %table{:cellspacing => '0', :cellpadding => '0', :width => '100%'}
              %col{:width => '60%'}
              %col{:width => '15%'}
              %col{:width => '25%'}
              %thead
                %tr
                  %th.left_align ITEM
                  %th HOURS
                  %th RATE
                  %th COST
              %tfoot
                %tr
                  %td{:colspan => '3'} TOTAL
                  %td.center_align= number_to_currency @invoice.total
              %tbody
                - for line_item in @invoice.line_items
                  - if line_item.is_a? Work
                    %tr
                      %td= h line_item.notes
                      %td.center_align= line_item.hours
                      %td.center_align= number_to_currency line_item.rate
                      %td.center_align= number_to_currency line_item.total
                  - if line_item.is_a? Adjustment
                    %tr
                      %td{:colspan => 3 }= h line_item.notes
                      %td.center_align= number_to_currency line_item.total
                
          #project_footer
            %p Additional notes
          
        .clear
        
      #sig
        %p sincerely,
        #michael
          = image_tag "/images/invoice/michael.gif"
          %span michael m gubitosa
        #micah
          = image_tag "/images/invoice/micah.gif"
          %span micah geisel
