!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= "#{h current_user.business_name_or_name} invoice \##{@invoice.id}"
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    = stylesheet_link_tag 'invoice'
    = yield :css

    %link{:rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon"}


  %body
    #container
      #content
      
        #return
          #logo
            - if current_user.logo.exists?
              = image_tag current_user.logo.url(:pdf)
            - else
              = current_user.business_name_or_name
          - unless current_user.address.blank?
            %p= h current_user.address
          - unless current_user.address2.blank?
            %p= h current_user.address2
          - if current_user.city_state_zip
            %p= h current_user.city_state_zip
          %p.color= mail_to current_user.business_email_or_email
        .clear
        
        #client
          %h1 Invoice
          %p attention:
          %h2= h @invoice.client.contact
          %p= h @invoice.client.address
        .clear
        
        #date
          %h3="#{@invoice.date.day}  #{Date::MONTHNAMES[@invoice.date.month]}  #{@invoice.date.year}"
        .clear
        
        #project
          #project_header
            %table{:cellspacing => '0', :cellpadding => '0', :width => '100%'}
              %col{:width => '49%'}
              %col{:width => '2%'}
              %col{:width => '49%'}
              %tr
                %td PROJECT
                %td .
                %td.right_align= h @invoice.project_name
              %tr
                %td INVOICE NUMBER
                %td .
                %td.right_align= @invoice.id
              %tr
                %td TERMS
                %td .
                %td.right_align Due on Receipt
                
          #items
            %table{:cellspacing => '0', :cellpadding => '0'}
              - if @invoice.include_dates
                %col{:width => '15%'}
              %col{:width => '70%'}
              %col{:width => '15%'}
              %col{:width => '15%'}
              
              %thead
                %tr
                  - if @invoice.include_dates
                    %th date
                  %th.left_align item
                  %th hours
                  - unless @invoice.consistant_rate
                    %th rate
                  %th cost
                  
              %tbody
                - @invoice.line_items.sort.each do |line_item|
                  %tr{:class => cycle('even','')}
                    - if @invoice.include_dates
                      %td= line_item.start.to_s(:slash) if line_item.start
                    - if line_item.is_a? Work
                      %td.li= h line_item.notes
                      %td.center_align
                        - if @invoice.include_times and line_item.is_a? Work
                          = line_item.start.to_s(:pretty_time)
                          = line_item.finish.to_s(:pretty_time)
                          %br
                        = number_with_precision line_item.hours, :precision => 2
                      - unless @invoice.consistant_rate
                        %td.center_align= number_to_currency line_item.rate
                      %td.center_align= number_to_currency line_item.total
                    - if line_item.is_a? Adjustment
                      %td{:colspan => @invoice.consistant_rate ? 2 : 3}
                        = h line_item.notes
                      %td.center_align= number_to_currency line_item.total
                      
                %tr
                  %td{:colspan => @invoice.include_dates ? 2 : 1 } TOTAL
                  %td{:colspan => @invoice.consistant_rate ? 1 : 2 }
                  %td.center_align= number_to_currency @invoice.total
                      
          - if @invoice.consistant_rate.respond_to?(:nonzero?)
            #project_footer
              %em== Work rated at #{number_to_per_hour @invoice.consistant_rate}.
          
        .clear
        
      #sig
        %p sincerely,
        - if current_user.signature.exists?
          = image_tag current_user.signature.url(:pdf)
        - else
          = current_user.business_name_or_name
