- content_for :css do
  = stylesheet_link_merged :calendar

%h1 Calendar

%table.calendar{ :border => 0, :cellspacing => 0, :cellpadding => 0 }
  %thead
    %tr
      %th{ :colspan => 2, :align => "right" }= link_to_previous_month(@date, :id => "prev_month")
      %th.monthName{ :colspan => 3 }
        = Date::MONTHNAMES[@date.month]
        = @date.year
      %th{ :colspan => 2, :align => "left" }= link_to_next_month(@date, :id => "next_month")
    %tr.dayName
      - Date::DAYNAMES.each do |name|
        %th{ :scope => "col" }
          %abbr{ :title => name }= name[0..2]
  - calendar :year => @date.year, :month => @date.month do |d|
    - works = current_user.works.on_date(d).to_a
    - unless works.empty?
      %p= pluralize number_with_precision(works.sum(&:hours), 0), 'hour'
      %p= number_to_currency works.sum(&:total)

%h2 Total
- works = current_user.works.on_month(@date).to_a
%p= pluralize number_with_precision(works.sum(&:hours), 0), 'hour'
%p= number_to_currency works.sum(&:total)
