- content_for :css do
  = stylesheet_link_tag "calendar"

%h2 Calendar

%table.calendar{ :border => 0, :cellspacing => 0, :cellpadding => 0 }
  %thead
    %tr
      %th{ :colspan => 2, :align => "right" }= link_to_previous_month(@date, :id => "prev_month")
      %th.monthName{ :colspan => 3 }
        = Date::MONTHNAMES[@date.month]
        = @date.year
      %th{ :colspan => 2, :align => "left" }= link_to_next_month(@date, :id => "next_month")
    %tr.dayName
      - Date::DAYNAMES.each do |name|
        %th{ :scope => "col" }
          %abbr{ :title => name }= name[0..2]
  - calendar :year => @date.year, :month => @date.month do |date|
    - unless current_user.works.on_date(date).empty?
      %p= pluralize number_with_precision(current_user.hours_by_date(date), :precision => 0), 'hour'
      %p= number_to_currency current_user.total_by_date(date)

- unless current_user.works.on_month(@date).empty?
  %h2 Total
  %p= pluralize number_with_precision(current_user.hours_by_month(@date), :precision => 0), 'hour'
  %p= number_to_currency current_user.total_by_month(@date)
