- f = form
= f.hidden_field :type

%p
  = f.label :start
  = f.datetime_select :start
%p
  = f.label :finish, "End"
  = f.datetime_select :finish
%p
  = f.label :rate
  ==$#{f.text_field :rate}
%p
  = f.label :notes
  = f.text_area :notes
