- content_for :css do
  = stylesheet_link_tag "jquery-ui-smoothness-theme"

- content_for :js do
  = javascript_include_tag "jquery-ui-sliderAccess"
  = javascript_include_tag "jquery-ui-timepicker-addon"
  = javascript_include_tag "jquery_date_time"

= error_messages_for :work

= form_for [@client, @work] do |form|

  = form.hidden_field :type

  %p
    = form.label :start
    = form.datetime_select :start
  %p
    = form.label :finish, "End"
    = form.datetime_select :finish
  %p
    = form.label :rate
    ==$#{form.text_field :rate}
  %p
    = form.label :notes
    = form.text_area :notes

  %p= form.submit @work.new_record? ? "Create" : "Update"

