- content_for :title do
  Users &raquo; edit
  = @user.name

%h2
  .user_name{:style => "color: \##{current_user.color}"}
    %span Users &raquo; edit
    = @user.name

- form_for @user, :html => { :multipart => true } do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  = f.submit "Update", :class=>"right"

= link_to "cancel", users_path, :class=>"button right"
.clear
