- content_for :title do
  Users &raquo; new

%h2
  Users &raquo; new
  
= form_for @user, :html => { :multipart => true } do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  = f.submit "Register"
 
%br
= link_to "cancel", users_path
