= error_messages_for :client

- form_for @client do |f|
  %p
    %label Name
    = f.text_field :name
  %p
    %label Address
    = f.text_field :address
  %p
    %label City
    = f.text_field :city
  %p
    %label State
    = f.text_field :state
  %p
    %label Zip
    = f.text_field :zip
  %p
    %label Country
    = f.text_field :country
  %p
    %label Email
    = f.text_field :email
  %p
    %label Contact
    = f.text_field :contact
  %p
    %label Phone
    = f.text_field :phone
    
  %p= f.submit @client.new_record? ? "Create" : "Update"
