- f = form

%p
  = f.label :start, "Date"
  = f.date_select :start
  
  = f.check_box :no_date
  = f.label :no_date

%p
  = f.label :rate, "Amount"
  ==$#{f.text_field :rate}
  
%p
  = f.label :notes
  = f.text_area :notes
