= error_messages_for :adjustment

= form_for [@client, @adjustment] do |form|
  %p
    %label User
    = @adjustment.user ? @adjustment.user.name : current_user.name
    = form.hidden_field :user_id
    
    = form.check_box :no_user
    = form.label :no_user

  %p
    = form.label :start, "Date"
    = form.date_select :start
    
    = form.check_box :no_date
    = form.label :no_date

  %p
    = form.label :rate, "Amount"
    ==$#{form.text_field :rate}
    
  %p
    = form.label :notes
    = form.text_area :notes

  %p= form.submit @adjustment.new_record? ? "Create" : "Update"
