- @line_item = work
/ %td.name{ :style => "background-color: \##{work.user.color}" }=h work.user.login
%td.name{ :class=>"user_name", :style => "color: \##{work.user.color}" }=h work.user.login
%td.time{ :colspan => work.incomplete? ? 4 : 1 }
  = check_box_tag 'line_item_ids[]', work.id, nil, :style => "display: none"
  = work.start.to_s(:slash)
  %br
  = work.start.to_s(:time)
  %br
  - if work.incomplete?
    = link_to 'Clock Out', clock_out_path(@client, work), :class => "clock_out"
  - else
    = work.finish.to_s(:time)
- unless work.incomplete?
  %td.hours= number_with_precision work.hours, :precision => 2
  %td.rate= number_to_per_hour work.rate
  %td.total= number_to_currency work.total
%td.notes
  %textarea{ :id => "notes_#{work.id}" }
    =h work.notes
