!!!
%html{html_attrs}
%head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %title
    Eboshi &raquo;
    = yield :title
  %meta{:name => "keywords", :content => ""}
  %meta{:name => "description", :content => ""}

  = javascript_include_tag 'jquery', 'jquery.livequery', 'application'
  = yield :javascript_includes

  = stylesheet_link_tag 'default', 'in_place_styles'
  = yield :stylesheet_links

  %link{:rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon"}

%body
  #wrapper
    #header_container
      #header
        #login
          %span== Welcome, #{current_user.name}!
          %span==(#{link_to 'view account', edit_user_path(current_user)})
        %h1 
          %a{:href => "/"} BOTandROSE Invoicing
        %p Simple rails invoicing application
        #ampersand
        
    #breadcrumbs_container
      #breadcrumbs
        %h2= yield :title
        = yield :header
        
    #all_content_container
      #all_content
        #sidebar
          %h2 client list
          - @clients.each do |client|
            %ul
              %li
                %span= link_to h(client.name), invoices_path(client)
                %span= number_to_currency client.balance
          %p= link_to '+ Add Client', new_client_path
        #page
          #content
            %p#flash_notice= flash[:notice]
            %p#flash_error= flash[:error]
            = yield
        .clear
      .clear
      
    #footer_container
      #footer
        = yield :footer
