!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title
      Eboshi &raquo;
      = yield :title
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    = javascript_include_tag 'jquery', 'jquery-ui', 'jquery.livequery', 'application', 'pretty_flash'
    = yield :js

    = stylesheet_link_tag 'default', 'in_place_styles', 'pretty_flash'
    = yield :css

  - if current_user
    %style{type="text/css"}
      :plain
        a:hover, input.button:hover {color: ##{current_user.color};}
        .button:hover, input.button:hover {border-color:##{current_user.color};}
        .line_item_selected {background-color:##{current_user.color};}
       
      
  %link{:rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon"}

  %body
    #flash_notice{ :style => "display: none" }= flash[:notice]
    #flash_error{ :style => "display: none" }= flash[:error]

  #wrapper
    #header_container
      #header
        #login
          #account.right
            - if current_user
              ==#{link_to 'Logout', logout_path, :method => :delete, :class=>"button right"}
              - if current_user.admin?
                ==#{link_to 'All Users', users_path, :class=>"button right"}
              ==#{link_to 'My Account', edit_user_path(current_user), :class=>"button right"}
              .user_name.right.sm_pad{:style => "color: \##{current_user.color}"}
                %span Welcome, 
                ==#{current_user.name}!
              .clear
          .clear
          #blog.right
            %h2
              Latest news from the Eboshi Blog
              %a{:href => "http://eboshi-app.blogspot.com/feeds/posts/default"}
                = image_tag "feed-icon.gif"
            %p
              = @blog_feed.updated.to_date.to_s(:long)
              \:
              = link_to h(@blog_feed.title), "http://eboshi-app.blogspot.com", :target => "_blank"
            %p
              = truncate @blog_feed.content, :length => 100
              = link_to "more &raquo;", "http://eboshi-app.blogspot.com", :target => "_blank"
        #title
          %h1 
            %a{:href => "/"} EBO$HI
          %p a simple rails invoicing application
        .clear
      .clear
        
    #breadcrumbs_container
      #breadcrumbs
        %h2= yield :title
        = yield :header

    #actions= yield :actions
        
    #all_content
      #sidebar
        - if @client and !@client.new_record?
          %h2 Collaborators
          - @client.users.each do |user|
            %li
              = h user.name
              = link_to 'delete', Assignment.find_by_cuplet(@client, user), :method => :delete
          = link_to '+ Invite collaborator', new_assignment_path(@client), :class=>"button right"
          .clear
            
        - if current_user
          %h2 Clients  
          %table{:width=>"100%", :border=>"0", :cellspacing=>"0", :cellpadding=>"0"}
            %col{:width=>"60%"}
            %col{:width=>"20%"}
            %col{:width=>"20%"}
            - current_user.clients.each do |client|
              %tr
                %td= link_to h(client.name), invoices_path(client), :class=>"inline"
                %td= currency_or_empty client.unbilled_balance
                %td.red= currency_or_empty client.overdue_balance
                    
          = link_to '+ Add Client', new_client_path, :class=>"button right"
          .clear
          

      #content
        = yield
      .clear
    .clear
      
    #footer_container
      #footer
        = yield :footer
